/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@500&display=swap');

/* Body */
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

/*-----------------------------*\
  # Navigation Bar Start:  
\*-----------------------------*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 87px 120px 0  120px;
}
.page-name{
    font-size: 24px;
}
.nav-bar{
    display: flex;
    list-style: none;
}
.nav-bar li a{
    text-decoration: none;
    color:#3A3A3A;
    font-size: 16px;
    padding-right: 34px;
}


/*-----------------------------*\
  # Hearder items Start:  
\*-----------------------------*/

.header-texts .header{
    font-size: 52px;
}
.header-texts p{
    font-size: 16px;
}
.header-texts button{
    font-size:16px ;
    color:white;
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 40px;
    border: 1px solid #E02C6D;
}
