/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@500&display=swap');

/* Body */
body{
    margin: 0;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    max-width: 1920px;
    margin: auto;
}

/*-------------------------*\
  # Navigation Bar Styles:  
\*-------------------------*/
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px 0  100px;
}
.page-name-container{
    position: relative;
}
.page-name{
    font-size: 20px;
    position: absolute;
    width: 300px;
    margin: 0 auto;
    transition: font-size 0.3s;
}
.page-name:hover{
    font-size: 22px;
}
.page-name .fab{
    color: #E02C6D;
}
.nav-bar{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-bar li a{
    text-decoration: none;
    color:#3A3A3A;
    padding: 15px 25px;
    border-radius: 5px;
}
.nav-bar .link a:hover{
    background-color: #E02C6D;
    color: white;
}
.nav-bar .icon a{
    font-size: 22px;
}

/*------------------------*\
  # Hearder items Styles:  
\*------------------------*/

/* Header Left side */
.header-texts{
    padding-right: 350px;
}
.header-text{
    font-size: 50px;
}
.header-texts p{
    margin-top: 50px;
    margin-bottom: 65px;
}
.header-texts button{
    width: 196px;
    height: 46px;
    border-radius: 40px;
    background-color: #E02C6D;
    border: 1px solid #E02C6D;
    transition: width 0.5s, background-color 0.5s;
}
.header-texts button:hover{
    width: 350px;
    height: 46px;
}
.header-texts button a{
    text-decoration: none;
    color:white;
    font-size:16px ;
}
/* Header Right side */
.header-border-image{
    width: 475px;
    height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-border-image .main-camera{
   transition: transform 0.5s;
}
.header-border-image:hover .main-camera{
    transform: scale(1.1) rotate(10deg);
}
.header-border-image img{
    position: absolute;
}


/*-----------------*\
  Websites Styles: 
\*-----------------*/
.websites-container{
    margin: 177px 110px;
}
.websites{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 50px;
    border: 1px solid ;
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border-image-slice: 1;
}
.website{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

/*---------------------------------*\
  Popular Collection Items Styles::  
\*---------------------------------*/
.collection-items-header h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 70px;
}
.collection-items{
    margin:0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 30px;
}
.item{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 5px;
    height:700px ;
}
.items img{
    width: 100%;
}

.item .fas.rated{
    color: rgba(255, 166, 0, 0.6);
}
.item .fas.unrated{
    color: rgba(128, 128, 128, 0.4);
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 10px;
}
.see-more a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 20px;
}

/*-----------------*\
  Payment Styles:  
\*-----------------*/
.payment-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
}
.payment-image img,
.payment-header{
    width: 700px;
}
.payment-header{
    padding: 15px;
}
.payment-header h2{
    font-size: 35px;
}
.payment-methods{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}
.payment-method{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.payment-method .fab{
   color: rgba(224, 44, 109, 0.87);
}
.payment-methods h3{
    font-size: 16px;
}
.payment-methods p{
    font-size: 60px;
    margin: 0;
}
.payment-method{
    border: 2px solid rgba(224, 44, 109, 0.3);
    border-image-slice: 1;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.2s;
}
.payment-method:hover{
    transform: scale(1.1);
}
/*----------------*\
  Footer Styles:  
\*----------------*/
footer{
    padding-top :50px;
    padding-bottom :50px;
    background-color:#0A0826;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-header{
    font-size: 24px;
    color: white;
}
.copyright p{
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-link{
    display: flex;
}
.social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border-radius: 50%;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}
.social-link a:hover{
   transform: scale(1.4);
}

/*----------------*\
  Media Queries:  
\*----------------*/
/* Mobile Devices */
@media only screen  and (max-width:688px){
    
    .nav-bar {
        display: none;
    }
    .page-name{
        position: relative;
    }
    .header-container {
        display: flex;
        align-items: center;
        padding: 73px 50px 0px 50px;
        flex-direction: column;
    }
    .nav-bar .icon a{
        font-size: 22px;
    }
    .header-texts{
         padding-right: 0px;
    }
    .websites-container {
        margin: 0;
    }
    .websites{
        grid-template-columns: repeat(1,1fr);
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .website{
        height: 20px;
    }
    .header-border-image img {
        width: 300px;
    }
    .collection-items-header h2 {
        font-size: 32px;
        text-align: center;
        margin-top: 40px;
    }
    .items {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .item {
        height: 590px;
        width: 325px;
    }
    .see-more {
        display: flex;
        margin-top: 50px;
        justify-content: space-around;
    }
    .payment-container {
        margin-top: 65px;
        flex-direction: column;
    }
    .payment-image {
        display: flex;
        justify-content: center;
    }
    .payment-image img {
        border-radius: 10px;
        width: 335px;
    }
    element.style {
        display: flex;
        justify-content: center;
    }
    .payment-header h2 {
        font-size: 22px;
        text-align: center;
        margin: 50px;
        font-size: 30px;
    }
    .payment-methods {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        padding: 0;
        width: 250px;
    }
    .payment-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        padding: 0;
        background-color: #0A0826;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }          
}
/* tablet devices */
@media only screen and (min-width:689px) and (max-width:992px) {
    .nav-bar {
        display: none;
    }
    .page-name {
        font-size: 35px;
        width: 360px;
        margin-bottom: 40px;
    }
    .header-text {
        font-size: 65px;
    }
    .header-texts p{
        font-size: 26px;
    }
    .header-texts button a{
        font-size: 20px;
    }
    .header-border-image img {
        position: absolute;
        top: 850px;
    }
    .websites {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .items {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .item{
        height: 560px;
         width: 265px;
    }
    .payment-methods {
        grid-template-columns: repeat(2,1fr);
        padding: 0;
        width: 580px;
    }
    .header-container {
        display: flex;
        align-items: center;
        padding: 73px 50px 0px 50px;
        flex-direction: column;
    }
    .header-texts{
         padding-right: 0px;
    }
    .websites{
        grid-template-columns: repeat(2,1fr);
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .see-more {
        display: flex;
        margin-top: 50px;
        justify-content: space-around;
    }
    .payment-container {
        margin-top: 65px;
        flex-direction: column;
    }
    .payment-image {
        display: flex;
        justify-content: center;
    }
    .payment-image  {
        border-radius: 10px;
        width: 720px;
    }
    element.style {
        display: flex;
        justify-content: center;
    }
    .payment-header h2 {
        font-size: 22px;
        text-align: center;
        margin: 50px;
        font-size: 30px;
    }
    .payment-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        padding-top: 20px;
        background-color: #0A0826;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 720px;
    }
    .footer-header{
        position: absolute;
        bottom: 0;
    }

   
}