/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@500&display=swap');

/* Body */
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

/*-----------------------------*\
  # Navigation Bar Start:  
\*-----------------------------*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 87px 120px 0  120px;
}
.page-name{
    font-size: 24px;
}
.nav-bar{
    display: flex;
    list-style: none;
}
.nav-bar li a{
    text-decoration: none;
    color:#3A3A3A;
    font-size: 16px;
    padding-right: 34px;
}


/*-----------------------------*\
  # Hearder items Start:  
\*-----------------------------*/
/* Header Left side */
.header-texts .header{
    font-size: 52px;
    margin:0;
}
.header-texts p{
    font-size: 16px;
    margin: 32px 0;
}
.header-texts button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 40px;
    border: 1px solid #E02C6D;
    transition: width 1s, background-color 1s;
}
.header-texts button:hover{
    background-color: #e4447f;
    width: 296px;
    height: 44px;
}
.header-texts button a{
    font-size:16px ;
    color:white;
    text-decoration: none;
}

/* Header Right side */
.header-image-border-circle{
    width: 475px;
    height: 475px;
    border: 3px solid #F1E4FF;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-image-circle-fill{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color:#F1E4FF;
    border-radius: 50%;
}
.header-image-border-circle img{
    position: absolute
}

/*-----------------------------*\
  Other website:  
\*-----------------------------*/

.websites-container{
    margin: 120px;
}
.websites{
    margin-top:7px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 50px;
    /* border: 3px solid gray; */
    border: 2px solid #AAAAAA;
    border-left: #AAAAAA;
    border-right: #AAAAAA;
}
.website{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

/*-----------------------------*\
  Items Collection:  
\*-----------------------------*/
.collection-items{
    margin:0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-items-header h2{
    font-size: 28px;
    text-align: center;
}
.items{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 40px;
}
.items img{
    width: 300px;
    height: 256px;
}
.item{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 5px;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin: 50px 0;
}
.see-more a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size :16px;
}

/* payment */
.payment-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 87px;
}
.payment-image img{
    border-radius: 10px;
    width: 500px;
}

.payment-header{
    font-size: 30px;
}
.payment-header h2{
    font-size: 30px;
    margin-bottom: 500;
}
.payment-methods{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}
.payment-method{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.payment-method .fab{
   color: rgba(224, 44, 109, 0.87);
}
.payment-methods h3{
    font-size: 16px;
}
.payment-methods p{
    font-size: 60px;
    margin: 0;
}
footer{
    padding:50px 589px;
    background-color:#0A0826;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-header{
    font-size: 24px;
    color: white;
}
.copyright p{
    font-size: 14px;
    color: white;
     display: flex;
    flex-direction: column;
    align-items: center;
}
.social-link{
    display: flex;
}
.social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border-radius: 50%;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}
