/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@500&display=swap');

/* Body */
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

/*-----------------------------*\
  # Navigation Bar Start:  
\*-----------------------------*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 87px 120px 0  120px;
}
.page-name{
    font-size: 24px;
}
.nav-bar{
    display: flex;
    list-style: none;
}
.nav-bar li a{
    text-decoration: none;
    color:#3A3A3A;
    font-size: 16px;
    padding-right: 34px;
}


/*-----------------------------*\
  # Hearder items Start:  
\*-----------------------------*/
/* Header Left side */
.header-texts .header{
    font-size: 52px;
    margin:0;
}
.header-texts p{
    font-size: 16px;
    margin: 32px 0;
}
.header-texts button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 40px;
    border: 1px solid #E02C6D;
    transition: width 1s, background-color 1s;
}
.header-texts button:hover{
    background-color: #e4447f;
    width: 296px;
    height: 44px;
}
.header-texts button a{
    font-size:16px ;
    color:white;
    text-decoration: none;
}

/* Header Right side */
.header-image-border-circle{
    width: 475px;
    height: 475px;
    border: 3px solid #F1E4FF;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-image-circle-fill{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color:#F1E4FF;
    border-radius: 50%;
}
.header-image-border-circle img{
    position: absolute
}
